@model IEnumerable<ProyectoWebDL.Models.Entities.Usuario>

@{
    Layout = "_LayoutDashboard";
}

<h1>
    Gestion de usuarios
</h1>

<div class="row">
    <div class="offset-10 colborder-4 mb-4">
        <a asp-action="Crear" asp-controller="Usuario" class="btn btn-success"><i class="fa-solid fa-plus"></i> Nuevo</a>
    </div>
</div>

<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de usuario</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive">

                    @if (Model.Count() > 0)
                    {

                        <table class="table table-bordered" id="tblUsuario" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> @Html.DisplayNameFor(x => x.Nombre)</th>
                                    <th> @Html.DisplayNameFor(x => x.Apellido)</th>
                                    <th>Usuario</th>
                                    <th> @Html.DisplayNameFor(x => x.Password)</th>
                                    <th>Rol</th>

                                    <th> Acciones</th>
                                </tr>

                            </thead>
                            <tbody>
                                @{
                                    int i = 1;
                                }
                                @foreach (var Item in Model)
                                {
                                    <tr>
                                        <td> <span>@(i++)</span></td>
                                        <td> @Html.DisplayFor(x => Item.Nombre )</td>
                                        <td> @Html.DisplayFor(x => Item.Apellido)</td>
                                        <td> @Html.DisplayFor(x => Item.UserName) </td>
                                        <td> @Html.DisplayFor(x => Item.Password) </td>
                                        <td> @Html.DisplayFor(x => Item.FkRol) </td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Editar" asp-route-id=@Item.PKUsuario><i class="fa-regular fa-pen-to-square"></i> Editar</a>
                                            <a class="btn btn-danger eliminar-usuario" data-id="@Item.PKUsuario"><i class="fa-solid fa-trash"></i> Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblUsuario').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando START a END de TOTAL Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de MAX total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar MENU Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });


        $('.eliminar-usuario').on('click', function () {
            //if (confirm('¿Estás seguro de que deseas eliminar este artículo?')) {}


            Swal.fire({
                title: "Esta seguro que deseas borrar?",
                text: "No podrás revertir esto.!",
                icon: "warning",

                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, deseo borrar!"
            }).then((result) => {
                if (result.isConfirmed) {

                    var usuarioId = $(this).data('id');

                    $.ajax({
                        url: '/Usuario/Eliminar/' + usuarioId,
                        type: 'DELETE',
                        success: function (data) {
                            console.log(data)

                            if (data.succes == true) {
                                //debugger
                                location.reload(); // Recarga la página completa
                                //window.location.href = "/Articulos/Index";
                            }
                        }
                    });
                    Swal.fire({
                        title: "Eliminando!",
                        text: "ha sido eliminado correctamente.",
                        icon: "success",
                        timer: 4000
                    });
                }
            });
        });
    </script>


}
